.box{
	background: red;
	border-radius: 6px;
	cursor:pointer;
	height:95px;
	width:95px;
	text-align:center;
	transition-property:background, border-radius
	transition-duration: 2s, 1s;
	transition-timing-function:linear, ease-in;
	transition delay: 4s;
}

.box:hover{
	background: #ff7b29;
	border-radius:50%;
}

body{
	color: #fff;
	font: 600 14px/24px "Arial";
}